{% extends 'HotelApp/index.html' %}
{% block content %}
{% load mathfilters %}
{% load crispy_forms_tags %}



      <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">List of Orders</h1>
        <form method="GET">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-primary">Search</button>
        </form>
        
      

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

       <div class="row">

       {% for order in filter.qs %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'order-detail' order.id %}">{{ order.room.hotel.name }}-{{ order.id }}</a>
                </h4>
                <h5>Oveall pricee: {{ order.price }}</h5>
                <h5>Requieried deposit: {{ order.deposit }}</h5>
                <h5>Status : {{ order.active }}</h5>
                
              </div>
              <div class="card-footer">
            
              </div>
            </div>
          </div>
        {% endfor %}

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

{% endblock content %}