{% extends 'HotelApp/index.html' %} {% block content %}


  <div class="col-lg-9">
    <div class="row">
      <div>
       
        <div class="card-body">
          <h1 class="card-title">
            Room {{ object.id }}
          </h1>
          <p class="card-text">Hotel: {{object.hotel.name}}</p>
          <h5>Number of beds: {{ object.beds_number }}</h5>
          <h5>Price for one night: {{ object.price }}</h5>
          <h5>Room type: {{ object.room_type }}</h5>
          <p class="card-text">Description: {{object.description}}</p>
          <h4>
            Occupied: {{ object.occupied }}
          </h4>
        </div>
        
      </div>
    </div>
    <!-- /.row -->

          <div> 
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'res-add' object.id  %}">Reserve this room</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'room-update' object.id  %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'room-delete' object.id %}">Delete</a>
          </div>


  </div>
  <!-- /.col-lg-9 -->
</div>
<!-- /.row -->

<div class="col-lg-9">
  
</div>
<!-- /.col-lg-9 -->

{% endblock content %}
