{% extends 'HotelApp/index.html' %}
{% block content %}
{% load mathfilters %}
{% load crispy_forms_tags %}

<div class="row">

    <div class="col-lg-3 y-2">
    
    <form method="GET">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>
    <form action="{% url 'customuser-create' %}">
    <button type="submit" class="btn btn-primary">Add user</button>
    </form>
    
    </div>

    <div class="col-lg-4">
    <h1 class="my-4">Users</h1>
    <table class="table"> 
        <tr>
          <th class="th text-center">Email</th>
          <th class="th text-center">Receptionist</th>
          <th class="th text-center">Owner</th>
          <th class="th text-center">Admin</th>
        </tr>
        {% for usr in filter.qs %}
          <tr>
            <td>
            <div class="col-sm-8">  
            <a href="{% url 'customuser-detail' usr.id %}">{{ usr.email }}</a>
            </td>          
            <td class="td text-center">{% if usr.is_staff %} &#10004 {% endif %} </td>
            <td class="td text-center">{% if usr.is_owner %} &#10004 {% endif %} </td>
            <td class="td text-center">{% if usr.is_superuser %} &#10004 {% endif %} </td>
          
            </div>
          </tr>
          
        {% endfor %}
    </table>    
    </div>    
  

</div>

{% endblock content %}