{% extends 'HotelApp/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update your profile information here</legend>
                <p>Current email: {{ user.email }} </p>
                <p>Joined: {{ user.date_joined }} </p>
                <p> Current roles: </p>
                <table class='table text-center border-collapse'>    
                <tr>
                    <th class='th text-center'>Receptionist</th>
                    <th class='th text-center'>Owner</th>
                    <th class='th text-center'>Admin</th>
                </tr>
                <tr>
                    <td class='td text-center'>{% if user.is_staff %} &#10004 {% endif %} </td>
                    <td class='td text-center'>{% if user.is_owner %} &#10004 {% endif %} </td>
                    <td class='td text-center'>{% if user.is_superuser %} &#10004 {% endif %} </td>
                </tr>
                    
                </table>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}